TabletSerial=Q8G12151102353
RESpeckKey=hbNNpYX6e4WZ5PWgfXrpd8Tz8D6VmFDjCc2wYcy2
PatientID=1
PatientAge=23
UserType=0
IsSupervisedStartingMode=true
EnableSupervisedMode=true
EnableSubjectMode=true
EnableAirspeck=false
EnableSupervisedOverview=false
EnableSupervisedBreathingGraphs=true
EnableSupervisedAllGraphs=true
EnableSupervisedActivitySummary=true
EnableSupervisedRESpeckReadings=true
EnableSupervisedAirspeckReadings=true
ShowPCAGraph=false
