#######################################
# Different for each subject
#######################################

PatientID=1
DeviceSerial=Q8G12151102353
RESpeckKey=hbNNpYX6e4WZ5PWgfXrpd8Tz8D6VmFDjCc2wYcy2
RESpeckUUID=D3:53:09:12:80:A0
QoEUUID=C1:0B:35:11:3F:16

#######################################
# Same for all subjects in one project
#######################################

# Upload data to server?
UploadToServer=false

# Store data locally?
StoreDataLocally=true

# Store Airspeck data and RESpeck data in a merged file in addition to the individual files? Only works
# if Airspeck is enabled
StoreMergedFile=true

# Which mode to show first. If only one mode is enabled, that one is shown, independent of this value.
IsSupervisedStartingMode=false

# Whether supervised mode and subject mode are enabled. One of the two has to be enabled.
EnableSupervisedMode=true
EnableSubjectMode=true

# If Airspeck is disabled, this disables the bluetooth search for the Airspeck and all Airspeck 
# related Fragments, independent of the values set below. 
EnableAirspeck=true

# Same with RESpeck. Enabled by default for compatibility reasons.
DisableRESpeck=false

# Enable/disable specific fragments (views)
EnableSupervisedAQGraphs=true
EnableSupervisedActivitySummary=true
EnableSupervisedRESpeckReadings=true
EnableSupervisedAirspeckReadings=true
EnableSupervisedAQMap=true
EnableSubjectHome=true
EnableSubjectValues=true
EnableSubjectWindmill=false

# Do we want to store the location of the phone?
EnablePhoneLocationStorage=true

# Show the volume recording option in the supervised mode settings
EnableVolumeCalibration=false

# Do we want to disable post-filtering the breathing signal?
DisablePostFilterBreathing=false
