#######################################
# Different for each subject
#######################################

PatientID=1000
RESpeckKey=NmskLajJzTHHbS7n9PAyH69MFEQQGfzqeyr9KRZ5
RESpeckUUID=DB:B0:33:4D:39:6F
# QoEUUID=C1:0B:35:11:3F:16

#######################################
# Same for all subjects in one project
#######################################

# Upload data to server?
UploadToServer=true

# Store data locally?
StoreDataLocally=true

# Which mode to show first. If only one mode is enabled, that one is shown, independent of this value.
IsSupervisedStartingMode=false

# Whether supervised mode and subject mode are enabled. One of the two has to be enabled.
EnableSupervisedMode=true
EnableSubjectMode=true

# If Airspeck is disabled, this disables the bluetooth search for the Airspeck and all Airspeck 
# related Fragments, independent of the values set below. 
EnableAirspeck=false

# Same with RESpeck. Enabled by default for compatibility reasons.
DisableRESpeck=false

# Enable/disable specific fragments (views)
EnableSupervisedAQGraphs=false
EnableSupervisedActivitySummary=true
EnableSupervisedRESpeckReadings=true
EnableSupervisedAirspeckReadings=false
EnableSupervisedAQMap=false
EnableSubjectHome=true
EnableSubjectValues=true
EnableSubjectWindmill=true

# Do we want to store the location of the phone?
EnablePhoneLocationStorage=false

# Show the volume recording option in the supervised mode settings
EnableVolumeCalibration=false

# Do we want to disable post-filtering the breathing signal?
DisablePostFilterBreathing=false

# Do we want to disable the wrong orientation dialog?
DisableWrongOrientationDialog=false