<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.specknet.airrespeck"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="com.specknet.pairing.provider.READ_PERMISSION"/>

    <uses-feature android:name="android.hardware.location.gps"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="AirRespeck.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5"/>
        <meta-data
            android:name="AA_MODELS"
            android:value="com.specknet.airrespeck.datamodels.User"/>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.specknet.respeck.RESPECK_LIVE_BROADCAST"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.specknet.respeck.RESPECK_CONNECTED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.specknet.respeck.RESPECK_DISCONNECTED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.specknet.airspeck.AIRSPECK_LIVE_BROADCAST"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.specknet.airspeck.AIRSPECK_CONNECTED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.specknet.airspeck.AIRSPECK_DISCONNECTED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW"/>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.specknet.airrespeck.INDOOR_PREDICTION_BROADCAST"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>

        <activity
            android:name=".activities.SecurityKeySetupActivity"
            android:label="@string/title_activity_security_key"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>

        <activity
            android:name=".activities.ConfigViewActivity"
            android:label="@string/config_view_title"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>

        <activity
            android:name=".fragments.VolumeCalibrationRecordingFragment"
            android:label="@string/title_activity_volume_recording"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>

        <service
            android:name=".services.SpeckBluetoothService"
            android:enabled="true"
            android:process=":bluetooth_speck_process">
            <intent-filter>
                <action android:name="com.specknet.airrespeck.PHONE_LOCATION"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.specknet.respeck.RESPECK_LIVE_BROADCAST"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.specknet.respeck.RESPECK_AVG_BROADCAST"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.specknet.respeck.RESPECK_AVG_STORED_BROADCAST"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.specknet.diarydaphne.DIARY_BROADCAST"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.specknet.airspeck.AIRSPECK_LIVE_BROADCAST"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.specknet.airrespeck.IS_INDOOR_BROADCAST"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.PhoneGPSService"
            android:enabled="true"
            android:exported="true"
            android:process=":phone_gps_service">
        </service>

        <activity
            android:name=".activities.MapsAQActivity"
            android:label="@string/title_activity_maps_aq"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.specknet.airrespeck.activities.MainActivity"/>

            <intent-filter>
                <action android:name="com.specknet.airspeck.AIRSPECK_LIVE_BROADCAST"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.specknet.airrespeck.PHONE_LOCATION"/>
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>